* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*This "*" sign is a universal selector, meaning it will select all classes, which includes my 2 column divs 
so that they can expand to fill the entire page*/

/* For layout.html */
main{
    display: flex;
    flex-direction: column;
    background-color: rgb(244, 169, 169);
    overflow-x: auto;
    align-items: center;
    height: 100%;
}

.flex-container {
    display: flex;
    width: 100%;
    height: 100vh;
}


.row {
    display: flex; 
}

#sidebar {
    display: flex;
    flex-direction: column;
    background-color:#f47676;
    position: relative;
}

/* Sidebar styling */
#icon_sidebar {
    width: 250px; /* Sidebar width */
    background-color: #f47676; /* Light gray background */
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px; /* Space between items */
    flex-grow: 1;
}

/* Sidebar item (each block) */
.sidebar-item {
    display: flex;
    align-items: center; /* Keeps icon and text aligned */
    gap: 10px; /* Spacing between icon and text */
    padding: 12px;
    border-radius: 8px; /* Rounded corners */
    cursor: pointer; /* Make it look clickable */
    transition: background-color 0.2s ease-in-out;
}
/* Hover effect */
.sidebar-item:hover {
    background-color: #f58989; /* Light hover effect */
}

/* Icon styling */
.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
    font-size: 24px; 
    color: whitesmoke;
}

#content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: #f08a8a;
    overflow-y: auto; /* Add scroll bar and basically extend the page*/
}

/* Sidebar text */
.sidebar-text {
    font-size: 16px;
    /* font-weight: 500 */
    color: #333; 
}

#footer-text{
    margin-top: auto;
}

/* For task-tracker.html */

#content-header {
    display:flex;
    align-items: center;
    width: 100%;
    height: 15vh;
    justify-content: space-between;
    font-size: 2em;
    padding: 16px;
    line-height: 1;

}
  
#task-tracker-title {
    display: flex;
    height:100%;
    align-items: center;
}

#header-button {
    display: flex;
    flex-direction: row;
}
.ubuntu-regular {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: whitesmoke;
    font-size:25px;
}

.outfit-regular {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: whitesmoke;
  font-size:25px;
}
  
#calendar-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* Visible area for sliding items */
.calendar-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    overflow-x: auto;         
    padding: 10px;
    width: 100%;
    height: 100%;
}
.month {
    width: 100%;
    text-align: center;
    padding: 10px 0;
    position:relative;
    line-height: 1;
}
.days {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 10px;

}
.day-column {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 250px;
    height:40px;
    padding: 16px;
    background-color: #f08a8a;
    border-radius: 10px;
    height: auto;
    overflow-y: auto;
    border: none;
    border-radius: 45px;
    transition: 0.2s ease;
}
.day-column:hover {
    box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3);
    z-index: 2;
    transform: scale(1.05)
}

.add-task {
    visibility: visible;
    opacity: 0;
    transition: opacity 0.2s ease;
    background-color: white;
    color:#f47676;
    border: none;
    border-radius: 10px;
    padding: 8px 12px;
    margin-top: 10px;
    font-size: 20px;
    cursor: pointer;
    scale: 1.0;
    transition: all 0.2s ease;
}

.add-task:active {
  scale: 0.92;
  
}

#prevBtn, #nextBtn {
    background-color:rgb(244, 169, 169);
    color: white;
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    transition: 0.2s ease;
    text-align: center;
}

#taskPopup, #pomodoroPopup {
    display:none; 
    position:fixed; 
    top:20%; 
    left:50%; 
    transform:translateX(-50%);
    background:white; 
    padding:20px; 
    box-shadow:0px 0px 10px gray; 
    border-radius:8px; 
    z-index:5;
}

#popupOverlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5); /* semi-transparent black */
    z-index: 4; /* behind the popup */
}

#prevBtn:hover, #nextBtn:hover {
    background: #8a3333;
    transform: scale(1.05);
    border-radius: 100px;
}

.standard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.task-div {
    padding: 10px;
    transition: 0.2s ease;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.task-div:hover {
    transform: scale(1.05);
    cursor: pointer;
    background-color: #8a3333;
               
}

.deleteTaskButton {
  color: #000000;
  font-size: 15px;
  background: #e88383;
  border: 1px solid #e88383;
  cursor: pointer;
  transform: scale(1);
  transition: all 0.2s ease;
}

.deleteTaskButton:active {
  transform: scale(0.95);
}

/* For login.html */
.login-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:15px;
    padding: 20px;
}

.input-field {
  border: none;
  outline: none;
  border-radius: 15px;
  padding: 1em;
  background-color: #eef1f9;
  transition: 300ms ease-in-out;
}

.input-field:focus {
  background-color: #f5f7fc;
  transform: scale(1.05);

}

.submit-button {
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.submit-button:hover {
  background-color: #7e8180;
  box-shadow: 0px 15px 20px rgba(38, 49, 44, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.submit-button:active {
  transform: translateY(-1px);
}

#login-header {
    font-size: 2.7em;
}

#login-footer {
    font-size: 1em;
}

a {
    text-decoration: underline;
    color:#ffffff;
    transition: ease 0.2s;
}

a:hover {
    color:#555;
}

/* For apologies.html */

.error-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;;
}

/* For task.html for the individual tasks */

.idv-class-div {
    width:100%;
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#pomodoro-input-form {
    display:flex;
    flex-direction: column;
}

.pomodoro {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px
}

.pomodoro-buttons {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}

.progress-container {
  width: 50%; 
  height: 20px;
  background-color: rgb(244, 169, 169);
  border: white 3px solid;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}

.progress-bar {
  height: 20px;
  background-color: #4caf50;
  width: 0%;
  transform-origin: left; 
}

.pomodoro-button {
  border: none;
  outline: none;
  background-color: #e74c3c;
  padding: 10px 20px;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  border-radius: 5px;
  transition: all ease 0.1s;
  box-shadow: 0px 5px 0px 0px #d88fa0;
  cursor: pointer;
}


.pomodoro-button:active {
  transform: translateY(5px);
  box-shadow: 0px 0px 0px 0px #d88fa0;
}

.pomo-input {
    display: flex;
    flex-direction: column;
}

& input[type="number"] {
    width: 15ch;
}