{% extends "layout_main.html" %}

{% block title %}
Homepage
{% endblock %}

{% block main %}
<div class="roboto-regular" style="display: flex; width: 100%; height: 100%; justify-content: center; align-items: center; text-align: center; margin: 10px; font-size: 32px;">
    Welcome to my Task tracker X Pomodoro Timer Website. I infused a pomodoro counter to each task in your task tracker to give you a more efficient approach to managing your time for your tasks.
    Please click on the sidebar button to open task tracker
</div>
{% endblock %}