<!DOCTYPE html>

<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&display=swap" />

        <link href="/static/stylesheet.css" rel="stylesheet">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=logout" />
        <link href="https://fonts.googleapis.com/css2?family=Outfit&display=swap" rel="stylesheet">

        <!-- Roboto -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital@0;1&display=swap" rel="stylesheet">

        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <div class="row flex-container">
            <div id="sidebar" class="column">
                <div id="icon_sidebar">

                    <a href="/homepage" style="text-decoration: none; color: inherit;">
                    <div class="sidebar-item">
                        <span class="material-symbols-outlined">home</span>
                        <span class="sidebar-text outfit-regular">Home</span>
                    </div>
                    </a>
                    <a href="/task-tracker" style="text-decoration: none; color: inherit;">
                    <div class="sidebar-item">
                        <span class="material-symbols-outlined">today</span> 
                        <span class="sidebar-text outfit-regular">Task Tracker</span>
                    </div>
                    </a>
                    <a href="/logout" style="text-decoration: none; color: inherit;">
                    <div class="sidebar-item">
                        <span class="material-symbols-outlined">logout</span>
                        <span class="sidebar-text outfit-regular" style="font-style: normal;">Logout</span>
                    </div>
                    </a>
                    <h3 id="footer-text" class="outfit-regular" style="font-size: 20px">@website made by Ian</h3>
                </div>
            </div>
            <div id="content" class="column">
                <main>
                    {% block main %}{% endblock %}
                </main>
            </div>
    </body>
    <footer>
        {% block footer %}{% endblock %}
        <script src="/static/sidebar.js"></script>
    </footer>
</html>
