{% extends "layout_main.html" %}

{% block title %}
Task Tracker
{% endblock %}

{% block main %}

<div id="content-header" class="outfit-regular">
    <div id="task-tracker-title">Task Tracker</div>
    <div id="header-button">
        <button id="prevBtn"><</button>
        <button id="nextBtn">></button>
    </div>
</div>
<div class="calendar-container">
    <div class="days">
        <div class="day-column ubuntu-regular" data-index="0"><span>Sunday</span>
            <span class="date">date</span>
            <span class="month">month</span>
            <button class="add-task">Add Task</button>
        </div>

        <div class="day-column ubuntu-regular" data-index="1"><span>Monday</span>
            <span class="date">date</span>
            <span class="month">month</span>
            <button class="add-task">Add Task</button>
        </div>

        <div class="day-column ubuntu-regular" data-index="2"><span>Tuesday</span>
            <span class="date">date</span>
            <span class="month">month</span>
            <button class="add-task">Add Task</button>
        </div>

        <div class="day-column ubuntu-regular" data-index="3"><span>Wednesday</span>
            <span class="date">date</span>
            <span class="month">month</span>
            <button class="add-task">Add Task</button>
        </div>

        <div class="day-column ubuntu-regular" data-index="4"><span>Thursday</span>
            <span class="date">date</span>
            <span class="month">month</span>
            <button class="add-task">Add Task</button>
        </div>

        <div class="day-column ubuntu-regular" data-index="5"><span>Friday</span>
            <span class="date">date</span>
            <span class="month">month</span>
            <button class="add-task">Add Task</button>
        </div>

        <div class="day-column ubuntu-regular" data-index="6"><span>Saturday</span>
            <span class="date">date</span>
            <span class="month">month</span>
            <button class="add-task">Add Task</button>
        </div>
</div>

<!-- Popup form -->
<div id="popupOverlay" onclick="closeTaskPopup()"></div>
<div id="taskPopup">
  <form action="/addtask" method="post" class="standard-container" id="taskFormPopup">
    <input type="hidden" id="monthIndexInput" name="month_index" value="">
    <input type="hidden" id="dateIndexInput" name="date_index" value="">
    <h3 class="outfit-regular" style="color: black">Add New Task</h3>
    <div style="display:flex; flex-direction:column; justify-content: flex-start; gap: 10px;">
        <div>
            <label class="outfit-regular" style="color: #afaeb4; font-size: 20px;">Task Name:</label>
            <input type="text" id="taskNameInput" class="input-field" name="task_name" style="margin-left: 53px;">
        </div>
        <div>
            <label class="outfit-regular" style="color: #afaeb4; font-size: 20px;">Pomodoro Cycles:</label>
            <input type="number" id="pomoCountInput" min="1" value="1" class="input-field" name="pomodoro_count">
        </div>
    </div>

    <div style="display: flex; flex-direction: row; gap: 20px; justify-content: flex-start;">
        <button id ="addTaskPopup" class="submit-button" type="submit">Add</button>
        <button id="closeTaskPopup"onclick="closeTaskPopup()" class="submit-button" type="button">Cancel</button>
    </div>

  </form>
</div>

{% endblock %}

{% block footer %}
<script src="/static/calendar.js"></script>
{% endblock %}
