{% extends "layout.html" %}

{% block title %}
Task Tracker
{% endblock %}

{% block main %}

<div id="content-header" class="ubuntu-regular">
    <div id="task-tracker-title">Welcome To Task Tracker</div>
    <div id="header-button">
        <button id="prevBtn"><</button>
        <button id="nextBtn">></button>
    </div>
</div>
<div class="calendar-container">
    <div class="days">
        <div class="day-column ubuntu-regular" data-index="0"><span>Sunday</span>
            <span class="date">date</span>
            <span class="month">month</span>
        <button class="add-task">Add Task</button>
        </div>

        <div class="day-column ubuntu-regular" data-index="1"><span>Monday</span>
            <span class="date">date</span>
            <span class="month">month</span>
            <button class="add-task">Add Task</button>
        </div>

        <div class="day-column ubuntu-regular" data-index="2"><span>Tuesday</span>
            <span class="date">date</span>
            <span class="month">month</span>
            <button class="add-task">Add Task</button>
        </div>

        <div class="day-column ubuntu-regular" data-index="3"><span>Wednesday</span>
            <span class="date">date</span>
            <span class="month">month</span>
            <button class="add-task">Add Task</button>
        </div>

        <div class="day-column ubuntu-regular" data-index="4"><span>Thursday</span>
            <span class="date">date</span>
            <span class="month">month</span>
            <button class="add-task">Add Task</button>
        </div>

        <div class="day-column ubuntu-regular" data-index="5"><span>Friday</span>
            <span class="date">date</span>
            <span class="month">month</span>
            <button class="add-task">Add Task</button>
        </div>

        <div class="day-column ubuntu-regular" data-index="6"><span>Saturday</span>
            <span class="date">date</span>
            <span class="month">month</span>
            <button class="add-task">Add Task</button>
        </div>
</div>




{% endblock %}

